<div class="flex justify-center md:justify-start pt-2 gap-6">
  {% assign contact_channels = site.contact_channels %} {% if
  contact_channels.email %}
  <a
    class="transition hover:scale-110 duration-300"
    href="mailto:{{ contact_channels.email }}"
  >
    <img
      class="h-6 w-6"
      src="{{'/assets/images/contact_channels/email.svg' | relative_url }}"
      alt="Email Icon"
    />
  </a>
  {% endif %} {% if contact_channels.github and contact_channels.github != ""%}
  <a
    class="transition hover:scale-110 duration-300"
    href="{{ contact_channels.github }}"
    target="_blank"
  >
    <img
      class="h-6 w-6"
      src="{{'/assets/images/contact_channels/github-mark.svg' | relative_url }}"
      alt="Github Icon"
    />
  </a>
  {% endif %} {% if contact_channels.telegram %}
  <a
    class="transition hover:scale-110 duration-300"
    href="{{ contact_channels.telegram }}"
    target="_blank"
  >
    <img
      class="h-6 w-6"
      src="{{'/assets/images/contact_channels/telegram.svg' | relative_url }}"
      alt="Telegram Icon"
    />
  </a>
  {% endif %} {% if contact_channels.stackoverflow %}
  <a
    class="transition hover:scale-110 duration-300"
    href="{{ contact_channels.stackoverflow }}"
    target="_blank"
  >
    <img
      class="h-6 w-6"
      src="{{'/assets/images/contact_channels/stack-overflow.svg' | relative_url }}"
      alt="StackOverflow Icon"
    />
  </a>
  {% endif %} {% if contact_channels.discord %}
  <a
    class="transition hover:scale-110 duration-300"
    href="{{ contact_channels.discord }}"
    target="_blank"
  >
    <img
      class="h-6 w-6"
      src="{{'/assets/images/contact_channels/discord.svg' | relative_url }}"
      alt="Discord Icon"
    />
  </a>
  {% endif %} {% if contact_channels.mastodon %}
  <a
    class="transition hover:scale-110 duration-300"
    rel="me"
    href="{{ contact_channels.mastodon }}"
    target="_blank"
  >
    <img
      class="h-6 w-6"
      src="{{'/assets/images/contact_channels/mastodon.svg' | relative_url }}"
      alt="Mastodon Icon"
    />
  </a>
  {% endif %}
</div>
