{% if include.display == "text" %}
    <span>{% for channel in site.contact_channels %}<a class="transition hover:scale-110 duration-300" href="{{ channel.prefix }}{{ channel.value }}" aria-label="{{ channel.name }}">{{ channel.name | capitalize }}</a>{% unless forloop.last %} | {% endunless %} {% endfor %} </span>
{% else %}
<div class="flex justify-center md:justify-start pt-2 gap-6">
    {% for channel in site.contact_channels %}
<a class="transition hover:scale-110 duration-300" href="{{ channel.prefix }}{{ channel.value }}" aria-label="{{ channel.name }}">
    <img class="h-6 w-6 dark:invert" src="{{'/assets/images/contact_channels/' | append: channel.logo | relative_url }}" alt="{{ channel.name | capitalize }} Icon"/>
    </a>
    {% endfor %}
</div>
{% endif %}