<nav class="absolute top-0 left-0 right-0 flex w-full flex-wrap items-center justify-between py-4 lg:py-6 bg-zinc-100">
  <div class="flex w-full flex-wrap items-center justify-between px-5">

    <a class="flex" href="/" aria-label="Andres Chacon - Developer">
      <img src="/assets/images/logo.png" alt="webpage logo" class="block h-8 w-auto">
      <p class="pl-4 hidden md:block text-lg">Andres Chacon - <span class="text-base">Developer</span></p>
    </a>

    <div class="flex divide-x">
      <div><a class="px-4 hover:text-neutral-500" href="/projects">Projects</a></div>
      <div><a class="px-4 hover:text-neutral-500" href="/blog">Blog</a></div>
      <div><a class="px-4 hover:text-neutral-500" href="{{site.url}}{{page.url}}">es</a></div>
    </div>
  </div>
</nav>

