--- 
--- 

@font-face {
  font-family: "Mulish";
  src: url({{ "/assets/fonts/Mulish-Regular.ttf" | relative_url }});
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url({{ "/assets/fonts/Raleway-Regular.ttf" | relative_url }});
  font-display: swap;
}

@layer base {
  html {
    font-family: "Raleway", system-ui, sans-serif;
  }
}
