<!DOCTYPE html>
<html lang="{{site.active_lang}}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ '/assets/css/dist-style.css' | relative_url }}" rel="stylesheet">
  <link href="{{ '/assets/css/fonts.css' | relative_url }}" rel="stylesheet">
  {% seo %}
  {% include custom_head.html %}
</head>

<body class="bg-white text-gray-700 dark:bg-gray-700 dark:text-slate-100">
  {% include navbar.html %}
  {{ content }}
  {% include footer.html %}
</body>

</html>
